* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 40px;
  padding: 0;
  background-color: #222529;
}

h1 {
  padding-block-start: 20px;
  padding-block-end: 40px;
  font-size: 22px;
}

th {
  padding: 10px;
  text-align: start;
}

td {
  padding: 10px 40px 10px 10px;
}

@media only screen and (max-width: 600px) {
  th.col2,
  td.col2 {
    display: none;
  }

  th.col3,
  td.col3 {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  th.col2,
  td.col2 {
    display: none;
  }
}
